:root {
    --bg: #f5f7fa;
    --text: #444;
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #819fcc;
        --accent-bg: transparent;
        --bg: #212121;
        --text: #dcdcdc;
    }
    header .logo {
        filter: invert(100%);
    }
}
/* font sizes */
html {
    font-size: 14px;
}
h2 {
    font-size: 1.44rem;
}
h3 {
    font-size: 1.15rem;
}
h4 {
    font-size: 0.96rem;
}

body {
    line-height: 2;
}
img, video {
    vertical-align: bottom;
}

body > header {
    border: none;
    position: relative;
    grid-column: 2;
}
header .logo {
    position: absolute;
    top: 1rem;
    left: 0;
}
header nav {
    position: absolute;
    top: 0;
    right: 0;
}
header nav a:last-child {
    margin-right: 0;
}

.home {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem 0;
}
.home .face {
    padding: 1.5rem 1.5rem 0 0;
}

.post {
    padding-top: 4rem;
}
.post .title {
    font-size: 1.8rem;
}
.post .body {
    margin-top: 4rem;
}
.post .body a {
    word-break: break-all;
}
.post .body > div {
    margin: 0 auto;
}
.post img, .post video {
    max-height: 85vh;
}
.post figcaption {
    font-style: italic;
}

.archive ul {
    padding-left: 0;
}
.archive li {
    list-style-type: none;
    display: grid;
    grid-template-columns: max-content auto;
    margin-bottom: 1rem;
}
.archive time {
    font-family: var(--mono-font);
    font-size: 1rem;
    margin-right: 0.5rem;
}
