{{ define "main" }}
<div class="post archive">
    <h1 class="title">Archive</h1>
    <div>
        <small>
            <span>Subscribe via </span>
            <a href="/index.xml">RSS Feed</a>
        </small>
    </div>
    <div id="search"></div>
    <div class="body">
        <ul>
        <!-- Ranges through content/post/*.md -->
        {{ range .Pages }}
            <li>
                <div><time>{{ .Date.Format "2006-01-02" }}</time></div>
                <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            </li>
        {{ end }}
        </ul>
    </div>
</div>
{{ end }}
