{{ define "main" }}
<main class="post archive">
    <h3 class="title">
        <span>Archive</span>
        <small>
            <span>Subscribe via </span>
            <a href="/index.xml">RSS Feed</a>
        </small>
    </h3>
    <div class="body">
        <ul>
        <!-- Ranges through content/post/*.md -->
        {{ range .Pages }}
            <li>
                <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} {{ .Title }}</a>
            </li>
        {{ end }}
        </ul>
    </div>
</main>
{{ end }}
