{{ define "main" }}
<div class="post archive">
    <h1 class="title">Archive</h1>
    <div>
        <small>
            <span>Subscribe via </span>
            <a href="/index.xml">RSS Feed</a>
        </small>
    </div>
    <div class="body">
        <form action="https://ui.customsearch.ai/hosted-page" method="get" class="search-form only-mobile">
            <input type="hidden" name="customconfig" value="3cbf3bd2-7f29-4162-a669-9fb89e7b3e87" />
            <input type="hidden" name="market" value="ja-JP" />
            <input type="hidden" name="version" value="latest" />
            <input type="text" name="q" placeholder="Keywords..." />
            <input type="submit" value="Search" />
        </form>
        <ul>
        <!-- Ranges through content/post/*.md -->
        {{ range .Pages }}
            <li>
                <div><time>{{ .Date.Format "2006-01-02" }}</time></div>
                <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            </li>
        {{ end }}
        </ul>
    </div>
</div>
{{ end }}
