:root {
    --bg: #f5f7fa;
    --accent-bg: transparent;
    --text: #444;
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #819fcc;
        --bg: #212121;
        --text: #dcdcdc;
    }
    header .logo {
        filter: invert(100%);
    }
}
/* font sizes */
h2 {
    font-size: 1.44rem;
}
h3 {
    font-size: 1.15rem;
}
h4 {
    font-size: 0.96rem;
}
pre code {
    font-size: 0.75rem;
}

body {
    line-height: 2;
}
img, video {
    vertical-align: bottom;
}

body > header {
    border: none;
    position: relative;
    grid-column: 2;
}
header .logo {
    position: absolute;
    top: 1.5rem;
    left: 0;
}
header nav {
    position: absolute;
    top: 0;
    right: 0;
}
header nav a:last-child {
    margin-right: 0;
}
header .search-form {
    display: inline;
}

.home {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem 0;
}
.home .face {
    padding: 1.5rem 1.5rem 0 0;
}

.post {
    padding-top: 4rem;
}
.post .title {
    font-size: 1.8rem;
}
.post .body {
    margin-top: 4rem;
}
.post .body a {
    word-break: break-all;
}
.post .body > div {
    margin: 0 auto;
}
.post figure {
    text-align: center;
}
.post img, .post video {
    max-height: 85vh;
}
.post figcaption {
    font-style: italic;
    margin: 0.3rem 0 0;
}

.sibling {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}
.prev, .next {
    font-size: 0.8rem;
    margin-top: 3rem;
}
.prev:not(:empty)::before {
    content: "←";
    margin-right: 0.5rem;
}
.next {
    text-align: right;
}
.next:not(:empty)::after {
    content: "→";
    margin-left: 0.5rem;
}

.archive ul {
    padding-left: 0;
}
.archive li {
    list-style-type: none;
    display: grid;
    grid-template-columns: max-content auto;
    margin-bottom: 1.2rem;
}
.archive time {
    font-family: var(--mono-font);
    font-size: 1rem;
    margin-right: 1rem;
}

.only-mobile {
    display: none !important;
}

@media only screen and (max-width: 720px) {
    :root {
        font-size: 16px;
    }
    .only-mobile {
        display: block !important;
    }
    .only-desktop {
        display: none !important;
    }
    .archive li {
        display: block;
    }
    .archive time {
        font-size: 0.9rem;
    }
}
