---
import BaseLayout from '../layouts/base-layout.astro'
---

<BaseLayout title="404">
  <div class="post">
    <div class="error">
      <p><strong>404</strong><br>Page not found</p>
    </div>
  </div>
</BaseLayout>
