---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/base-layout.astro'

const posts = (await getCollection('post')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<BaseLayout title="Archive">
  <div class="post archive">
    <h1 class="title">Archive</h1>
    <div>
      <small>
        <span>Subscribe via </span>
        <a href="/index.xml">RSS Feed</a>
      </small>
    </div>

    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script is:inline>window.addEventListener('DOMContentLoaded', () => new PagefindUI({ element: "#search" }))</script>

    <div class="body">
      <ul>
        {posts.map(post => (
          <li>
            <div><time>{post.data.date.toISOString().slice(0, 10)}</time></div>
            <div><a href={`/post/${post.id}/`}>{post.data.title}</a></div>
          </li>
        ))}
      </ul>
    </div>
  </div>
</BaseLayout>
