<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="robots" content="noarchive" />
<meta property="og:site_name" content="xarsh" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/img/ogp.png" />
<meta name="twitter:image" content="/img/ogp.png" />
<!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"/><![endif]-->
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
<link rel="icon" href="/img/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/normalize.css/normalize.min.css,npm/milligram@1.3.0/dist/milligram.min.css,gh/milligram/milligram-themes/src/blue.min.css,npm/highlight.js/styles/atom-one-light.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css" />
<link rel="stylesheet" href="/css/main.css" />
<title>{{ if .Title }}{{ .Title }} - {{ end }}xarsh</title>
<meta property="og:description" content="my personal blog" />
<meta property="og:title" content="{{ if .Title }}{{ .Title }} - {{ end }}xarsh">