<a class="logo" href="/">
    <img width="72" src="/img/logo.svg" title="Site logo">
</a>
<nav>
    <a href="/">ホーム</a>
    {{ if eq .Kind "section" }}
        <form action="https://ui.customsearch.ai/hosted-page" method="get" class="search-form only-desktop">
            <input type="hidden" name="customconfig" value="3cbf3bd2-7f29-4162-a669-9fb89e7b3e87" />
            <input type="hidden" name="market" value="ja-JP" />
            <input type="hidden" name="version" value="latest" />
            <input type="text" name="q" placeholder="Keywords..." />
            <input type="submit" value="Search" />
        </form>
    {{ else }}
        <a href="/post/">過去ログ</a>
    {{ end }}
</nav>
