<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else if .Summary }}{{ .Summary | plainify }}{{ else }}xarshのブログ{{ end }}">
<meta name="referrer" content="no-referrer">
{{ if (isset .Params "thumbnail") }}
<meta property="og:image" content="{{ .Params.thumbnail }}">
<meta name="twitter:card" content="summary_large_image">
{{ else }}
<meta property="og:image" content="/img/ogp.png">
{{ end }}
<meta name="twitter:creator" content="@TakaoNaito">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{ if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else if .Summary }}{{ .Summary | plainify }}{{ else }}xarshのブログ{{ end }}">
<meta property="og:title" content="{{ if .Title }}{{ .Title }} - {{ end }}xarsh">
<meta property="og:site_name" content="xarsh">
<meta property="og:type" content="website">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>🌃</text></svg>">

{{ $simple_css := resources.GetRemote "https://cdn.simplecss.org/simple.min.css" }}
<style>{{ $simple_css.Content | safeCSS }}</style>

{{ $main_css := resources.Get "css/main.css" | resources.Minify }}
<style>{{ $main_css.Content | safeCSS }}</style>

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<title>{{ if .Title }}{{ .Title }} - {{ end }}xarsh</title>
