<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="robots" content="noarchive" />
<meta name="twitter:image" content="/img/ogp.png" />
<meta property="og:site_name" content="xarsh" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/img/ogp.png" />
<meta property="og:description" content="My personal blog" />
<meta property="og:title" content="{{ if .Title }}{{ .Title }} - {{ end }}xarsh">
<meta name="referrer" content="none" />
<meta http-equiv="Content-Security-Policy" content="
    default-src https: 'self';
    style-src https: 'self' 'unsafe-inline';
    object-src 'none';
    base-uri 'none';
    form-action 'none';
">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>🌃</text></svg>">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram@1.4.1/dist/milligram.min.css" integrity="sha256-baSxKEISHdSAWiipPkWRuquIMjgNIR//a++CyhnQdIM=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram-themes@0.0.2/src/blue.css" integrity="sha256-y1u1R6kMQBPqeBrSSCM1me82WMqHwu8j/yj/XtxmXc8=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css" integrity="sha256-4zFMlAMYc7jMvg5XQq6KKUh6LWfQW1Ioc41hMjdy+NQ=" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css?{{ now.Unix }}" />
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<title>{{ if .Title }}{{ .Title }} - {{ end }}xarsh</title>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "617b303a92724b45aa9183469e886bcd"}'></script>
