{{ define "main" }}
<div class="home">
    <div class="face">
        <img alt="author image" src="https://www.gravatar.com/avatar/fca044d9960e1d7b389f8b9c4969fc5f?s=400" />
    </div>
    <div>
        <p>ないとうです。<br>このサイトは私の個人的な日記です。<br>お問い合わせはメールかSNSへどうぞ。</p>
        <p>気に入っている記事</p>
        <ul>
            <li><a href="/post/1641087425/">南極にいってきた</a></li>
            <li><a href="/post/1585460287/">ナウルにいってきた</a></li>
            <li><a href="/post/1644769315/">旧ユーゴスラビアの革命記念碑をみてきた</a></li>
        </ul>
        <p>Links</p>
        <ul>
            <li>X: <a href="https://x.com/TakaoNaito">@TakaoNaito</a></li>
            <li>Instagram: <a href="https://instagram.com/xarsh">xarsh</a></li>
            <li>GitHub: <a href="https://github.com/xarsh/xar.sh">xarsh/xar.sh</a></li>
            <li>Email: <a href="mailto:xarsh@outlook.com">xarsh@outlook.com</a></li>
        </ul>
    </div>
</div>
{{ end }}
